<div class="ui fluid vertical pointing menu">
  <div class="header item">
    <i class="home icon"></i> 导入主题
  </div>
  <div class="item">
    <div class="menu">

    </div>
  </div>
  <div class="header item">
    <i class="mail icon"></i> 管理主题
  </div>
  <div class="item">
    <div class="menu">
      <a class="item" href="{{ url_for('admin.show_topics') }}">管理全部主题</a>
      <a class="item" href="">管理垃圾主题</a>
      <a class="item" href="">管理遗漏主题</a>
      <a class="item" href="{{ url_for('admin.show_similar_topics') }}">管理相似主题</a>
      <a class="item">清空全部主题</a>
    </div>
  </div>
</div>
