{% extends theme('admin/_base.html') %}
{% block title %}管理{% endblock %}
{% from theme('topic/_macro.html') import render_pagination %}
{% block admin_content %}
<table class="ui table segment">
  <thead>
    <tr>
      <th class="four wide">标题</th>
      <th class="one wide">图片数</th>
      <th class="one wide">分类</th>
      <th class="one wide">评分</th>
      <th class="four wide">标题</th>
      <th class="one wide">图片数</th>
      <th class="one wide">分类</th>
      <th class="one wide">评分</th>
      <th class="two wide">相似度</th>
    </tr>
  </thead>
  <tbody>
    {% for similarity in similarities %}
    <tr>
      {% for topic in similarity.topics %}
      <td><a href="{{ url_for('topic.show_topic_detail', oid=topic._id) }}">{{ topic.title|truncate(20, True) }}</a></td>
      <td>{{ topic.photos|length }}</td>
      <td>{{ topic.category }}</td>
      <td>{{ topic.rating|d('N/A') }}</td>
      {% endfor %}
      <td>{{ '{:.0f}%'.format(similarity.value*100) }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
  </tfoot>
</table>

{{ render_pagination(pagination, 'admin.show_similar_topics', {}) }}

{% endblock %}
{% block script%}

{% endblock %}

