{% extends theme('layout.html') %}
{% set active_page = 'index' %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="ui page grid">
  <div class="column">
    <div class="ui three stackable items">
      {% for topic in topics %}
      <div class="item">
        <div class="image">
          <a class="ui image" href="{{ url_for('frontend.show_topic', oid=topic._id) }}">
            <img src="{{ url_for('frontend.send_image', oid=topic.cover) }}" alt="{{ topic.title }}" />
          </a>
          <div class="floating ui circular red label">{{ topic.size }}</div>
        </div>
        <div class="content">
          <div class="name">{{ topic.title }}</div>

          <p class="description"></p>
          <a class="ui purple ribbon label">{{ topic.tag }}</a>

        </div>
        <div class="extra">{{ topic.size }} images</div>
      </div>
      {% endfor %}
    </div>
    <div id="more" class="fluid circular ui green button">加载更多</div>
  </div>
</div>

{% endblock %}