{% extends theme('layout.html') %}
{% set active_page = 'admin' %}
{% block title %}管理{% endblock %}
{% block content %}
<div class="ui grid">
  <div class="middle aligned row">
  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <div class="header item">
        <i class="home icon"></i> 导入主题
      </div>
      <div class="item">
        <div class="menu">
          <a class="item" href="{{ url_for('.import_all', option=0) }}">忽略已存在的记录</a>
          <a class="item" href="{{ url_for('.import_all', option=1) }}">更新已存在的记录</a>
          <a class="item" href="{{ url_for('.import_all', option=2) }}">重建已存在的记录</a>
        </div>
      </div>
      <div class="header item">
        <i class="mail icon"></i> 清理主题
      </div>
      <div class="item">
        <div class="menu">
          <a class="item" href="{{ url_for('.clean_topic') }}">清理主题</a>
          <a class="item">清空全部主题</a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui active green striped progress">
      <div class="bar" style="width: 30%;"></div>
    </div>
    {#
    <div class="ui segment">
      <p>爱酷学习网是一个免费提供高清在线观看视频教程的网站，这里有各类视频教程，包括Java,.Net,C,C++,Python,Php,iOS,Ruby,Photoshop,Mybats,Spring,SpringMVC,Bootstrap,Semantic UI等视频教程。我们还提供了Android, iOS, Windows Phone客户端，让你在手机等移动设备上也能随时随地观看视频教程。</p>
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    </div>
    #}
  </div>
  </div>
</div>

{% endblock %}
{% block script%}
{% endblock %}






