{% extends theme('admin/layout.html') %}
{% block title %}管理{% endblock %}
{% block admin_content %}
<table class="ui table segment">
  <thead>
    <tr>
      <th>标题</th>
      <th>状态</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topics %}
    <tr>
      <td>
        <a href="{{ url_for('frontend.show_topic', oid=topic._id) }}">{{ topic.title }}</a>
      </td>
      {% if topic.deleted %}
      <td class="negative">已删除</td>
      {% else %}
      <td class="positive">正常</td>
      {% endif %}
      
      <td>无</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>
        {{ topics|length }}个主题
      </th>
      <th>
      
      </th>
    </tr>
  </tfoot>
</table>

{% endblock %}
{% block script%}
<script>

</script>
{% endblock %}






