<div class="ui fluid vertical pointing menu">
  <div class="header item">
    <i class="home icon"></i> 导入主题
  </div>
  <div class="item">
    <div class="menu">
      <a class="item" href="{{ url_for('.import_all', option=0) }}">忽略已存在的记录</a>
      <a class="item" href="{{ url_for('.import_all', option=1) }}">更新已存在的记录</a>
      <a class="item" href="{{ url_for('.import_all', option=2) }}">重建已存在的记录</a>
    </div>
  </div>
  <div class="header item">
    <i class="mail icon"></i> 管理主题
  </div>
  <div class="item">
    <div class="menu">
      <a class="item" href="{{ url_for('admin.show_all') }}">管理全部主题</a>
      <a class="item" href="{{ url_for('admin.show_garbage') }}">管理垃圾主题</a>
      <a class="item" href="{{ url_for('admin.show_omissions') }}">管理遗漏主题</a>
      <a class="item" href="{{ url_for('admin.show_duplicates') }}">管理重复主题</a>
      <a class="item">清空全部主题</a>
    </div>
  </div>
</div>