<h1>{{ topic.title }}</h1>
<input id="title" name="title" />
<select id="rate">
<option value=""></option>
<option value="1" {{ 'selected' if rate == 1 }}>1</option>
<option value="2" {{ 'selected' if rate == 2 }}>2</option>
<option value="3" {{ 'selected' if rate == 3 }}>3</option>
<option value="4" {{ 'selected' if rate == 4 }}>4</option>
<option value="5" {{ 'selected' if rate == 5 }}>5</option>
</select>
<a href="" id="edit_title">修改</a>
<ul>
    {% for image in images %}
    <li>
        <a>
            <img src="{{ url_for('frontend.show_image', oid=image._id) }}" />
        </a>
    </li>
    {% endfor %}
</ul>
<script src="{{ theme_static('js/jquery.js') }}"></script>
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
$(function() {
  $('a#edit_title').bind('click', function() {
    $.post($SCRIPT_ROOT + '/topic/{{ topic._id }}/_edit/', {
      title: $('#title').val(),
      rate: $('#rate').val()
    }, function(data) {
      if (data.success == true) {
    	  $("h1").text(data.title);
      }
    });
    return false;
  });
});
</script>