{% extends theme('layout.html') %}
{% set active_page = 'index' %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="ui stackable page grid">
  {% for topic in topics %}
  <div class="four wide column">
    <div class="ui card">
      <a class="image" href="{{ url_for('frontend.show_topic', oid=topic._id) }}">
        <img src="{{ url_for('frontend.send_image', size='thumb', oid=topic.cover) }}" alt="{{ topic.title }}" />
      </a>
      <div class="ui left green corner label">
        {{ topic.size }}
      </div>
      <div class="content">
        <a class="header" href="{{ url_for('frontend.show_topic', oid=topic._id) }}">{{ topic.title }}</a>
      </div>
      <div class="extra content">
        <a href="{{ url_for('.show_all_topics', tag=topic.tag) }}" class="ui purple ribbon label">{{ topic.tag }}</a>
        <div class="ui huge heart rating" data-rating="{{ topic.rating }}" data-max-rating="5">

        </div>

      </div>
    </div>
    
  </div>
  {% endfor %}

  <div class="two column centered row">
    <div class="column">
      <div id="more" class="fluid circular ui green button">加载更多</div>
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
$("#more").click(function(){
  // 动态刷新
  
  $.get("{{ url_for('.get_topics', tag=tag) }}", {
      start: 0,
      count: 20
    }, function(data) {
        var topics = "";
        /* 循环处理 data */
        for (var index in data.topics) {
          // alert(data.topics[index].title);
          topics += data.topics[index].title;
        }
        $("#more").before(topics);
    });
  
});

/* 评分模块*/
$(".rating").rating("disable");

</script>
{% endblock %}
